<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin View Product</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  </head>
  <body>
    <h1>Product</h1>
    <div class="container-fluid">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Product Code</th>
            <th scope="col">Product Image</th>
            <th scope="col">Product Name</th>
            <th scope="col">Country</th>
            <th scope="col">Price</th>
            <th scope="col">Cost</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr th:each="product : ${products}">
            <td scope="row" th:text="${product.product_code}"></td>
            <td th:text="${product.product_image}"></td>
            <td th:text="${product.product_name}"></td>
            <td th:text="${product.country}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.cost}"></td>
            <td>
              <a th:href="@{/product/listproduct}" class="btn btn-warning"
                >View</a
              >
              <a
                class="btn btn-success"
                th:href="@{/product/updateproduct(id=${product.id})}"
                >Edit</a
              >
              <a
                th:href="@{/product/deleteproduct(id=${product.id})}"
                class="btn btn-danger"
                >Delete</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <a class="btn btn-info" th:href="@{/product/addproduct}">Add new Product</a>
  </body>
</html>
