<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Product</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/User.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/LinkStyle.css}">
  </head>
  <body style="background-color: #d2e3c8">
    <div class="py-1 bg-#d2e3c8">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div
              class="lang card shadow-lg rounded-6"
              style="background-color: 86A789">
              <div class="p-5">
                <h4 class="text-light text-center fw-bold mb-3">
                  Update Product
                </h4>

                <form method="post" th:action="@{/product/saveProduct}">
                  <input type="hidden" th:field="${product.id}" />
                  <div class="text-light">Product Name</div>
                  <div class="form-floating mb-3">
                    <input
                      class="form-control"
                      placeholder="Unsername"
                      type="text"
                      id="productName"
                      name="product_name"
                      th:field="${product.product_name}"
                      required />
                    <label for="product_name">Product name</label>
                  </div>
                  <div class="text-light">Product Code</div>
                  <div class="form-floating mb-3">
                    <input
                      class="form-control"
                      placeholder="Producr_code"
                      type="text"
                      id="productCode"
                      name="product_code"
                      th:field="${product.product_code}"
                      required />
                    <label for="product_code">Product code</label>
                  </div>
                  <div class="text-light">Country</div>
                  <div class="form-floating mb-3">
                    <input
                      class="form-control"
                      placeholder="country"
                      type="text"
                      id="country"
                      name="country"
                      th:field="${product.country}"
                      required />
                    <label for="country">Country</label>
                  </div>

                  <div class="d-flex flex-row text-light">
                    <div class="text-light">Price</div>
                    <div class="ms-20" style="margin-left: 245px">Cost</div>
                  </div>

                  <div class="d-flex flex-row">
                    <div class="form-floating mb-3">
                      <input
                        class="form-control"
                        placeholder="price"
                        type="text"
                        id="price"
                        name="price"
                        th:field="${product.price}"
                        required
                        style="width: 258px" />
                      <label for="price">Price</label>
                    </div>
                    <div class="form-floating mb-3" style="left: 20px">
                      <input
                        class="form-control"
                        placeholder="cost"
                        type="text"
                        id="cost"
                        name="cost"
                        th:field="${product.cost}"
                        required
                        style="width: 259px" />
                      <label for="cost">Cost</label>
                    </div>
                  </div>
                  <div class="text-light">Image</div>
                  <div class="form-floating mb-3">
                    <input
                      class="form-control"
                      placeholder="product_image"
                      type="text"
                      id="productImage"
                      name="product_image"
                      th:field="${product.product_image}"
                       />
                    <label for="product_image">Image</label>
                  </div>
                  <div class="text-light">Description</div>
                  <div class="form-floating mb-3">
                    <input
                      class="form-control"
                      placeholder="description"
                      type="text"
                      id="description"
                      name="description"
                      th:field="${product.description}"
                      required />
                    <label for="description"> Description</label>
                  </div>
                  <div class="back_product"><a th:href="@{/product/listproduct}">Back Here</a></div>
                  <div class="text-center">
                    <button
                      type="submit"
                      class="btn btn-light w-50 mt-2 fw-bold text-success">
                      Save
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<!-- <html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Product</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/User.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="py-1 bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div
              class="lang card shadow-lg rounded-6"
              style="background-color: 86A789"
            >
              <div class="p-5">
                <h4 class="text-light text-center fw-bold mb-3">
                  Update Product
                </h4>

                <form method="post" th:action="@{/product/saveProduct}">
                  <input type="hidden" th:field="${product.id}" />
                  <label for="productCode">Product Code:</label>
                  <input
                    type="text"
                    id="productCode"
                    name="product_code"
                    th:field="${product.product_code}"
                    required
                  />
                  <label for="productCode">Product Image:</label>
                  <input
                    type="text"
                    id="productImage"
                    name="product_image"
                    th:field="${product.product_image}"
                    required
                  />
                  <label for="productImage">Product Name:</label>
                  <input
                    type="text"
                    id="productName"
                    name="product_name"
                    th:field="${product.product_name}"
                    required
                  />
                  <label for="country">Country:</label>
                  <input
                    type="text"
                    id="country"
                    name="country"
                    th:field="${product.country}"
                    required
                  />
                  <label for="price">price:</label>
                  <input
                    type="text"
                    id="price"
                    name="price"
                    th:field="${product.price}"
                    required
                  />
                  <label for="cost">cost:</label>
                  <input
                    type="text"
                    id="cost"
                    name="cost"
                    th:field="${product.cost}"
                    required
                  />

                  <button type="submit">Update</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html> -->
