<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/Item_detail.css}" rel="stylesheet" />
    
</head>
<body>
    <Header>
        <div> 

            <nav>
                <div class="head-left">
                    <h1>Price and Inventory monitoring</h1>
                </div>
                <div class="head-right">
                    <div class="search-box">
                        
                        <div>  <input
                            type="search"
                            class="form-control rounded"
                            placeholder="Search"
                            aria-label="Search"
                            aria-describedby="search-addon" /></div>
                    </div>
                    <div class="add-profile">
                        <div><img
                            src="https://cdn-icons-png.flaticon.com/128/1170/1170678.png"
                            data-src="https://cdn-icons-png.flaticon.com/128/1170/1170678.png"
                            alt="Shopping cart "
                            title="Shopping cart "
                            width="30"
                            height=""
                            class="lzy lazyload--done"
                            srcset="https://cdn-icons-png.flaticon.com/128/1170/1170678.png 4x"
                            style="margin-left: 30px; color: #d2e3c8" />
                        </div>
                        <div><img
                            src="https://cdn-icons-png.flaticon.com/128/456/456283.png"
                            data-src="https://cdn-icons-png.flaticon.com/128/456/456283.png"
                            alt="User "
                            title="User "
                            width="30"
                            height="30"
                            class="lzy lazyload--done"
                            srcset="https://cdn-icons-png.flaticon.com/128/456/456283.png 4x"
                            style="margin-left: 30px; color: #d2e3c8" />
                        </div>
                        
                    </div>
                </div>
            </nav>
        </div>
        </Header>

<section class="navigation" >
    <div style="display: flex; align-items: center; margin-left: 10px;">
        <div><img src="https://cdn-icons-png.flaticon.com/128/130/130882.png" data-src="https://cdn-icons-png.flaticon.com/128/130/130882.png" alt="Back " title="Back " width="20" height="20" class="lzy lazyload--done" srcset="https://cdn-icons-png.flaticon.com/128/130/130882.png 4x"></div>
        
            <h3 style="margin-top: 5px;">Back</h3>
        
    </div>
</section>

<section>
    <div class="Top" style="display: flex; justify-content: center;"> 
        <div class="top-left">
            <div style="background-color: white; width: 480px; margin-top: 40px;  display: flex; justify-content: center;">
                <img
                th:src="@{/image/Jordan.png}" style="width: 450px;" />
            </div>
        </div>
        <div class="top-right" >
            <h1 style="margin-top: 100px;">Air Jordan 1 Retro</h1>
            <h5 >Men's Shoes</h5>
            <h3>price: 180$</h3>
            <h3>Size:</h3>
            <div class="box-size">
                <div>
                    <div><h3>10</h3></div>
                    <div><h3>11</h3></div>
                    <div><h3>12</h3></div>
                </div>
                <div>
                    <div><h3>13</h3></div>
                    <div><h3>14</h3></div>
                    <div><h3>15</h3></div>
                </div>
                <div>
                    <div><h3>16</h3></div>
                    <div><h3>17</h3></div>
                    <div><h3>18</h3></div>
                </div>
            </div>

            <div class="btn">
                <div class="atc">ADD TO CART</div>
                <div class="buy">Buy</div>
            </div>
            

        </div>
    </div>

    <div class="under" style="margin-top: 50px;" >
        <div style="margin-left: 100px;">
            <div><h3>Details</h3></div>
            <div style="width: 480px;">
                <p>The Air Jordan 1 Retro High remakes the classic sneaker, giving you a fresh look with a familiar feel. Premium materials with new colors and textures give modern expression to an all-time favorite.</p>
            </div>
        </div>
        <div>
            <h3>
                Code:
            </h3>
            <h3>
                Type:
            </h3>
            <h3>
                Color:
            </h3>
        </div>
    </div>
    </section>
</body>