<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory Management Product</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/Viewuser.css}" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div>
        <nav>
          <div class="head-left">
            <h1>Price and Inventory monitoring</h1>
          </div>
          <div class="head-right">
            <div class="search-box">
              <div>
                <input
                  type="search"
                  class="form-control rounded"
                  placeholder="Search"
                  aria-label="Search"
                  aria-describedby="search-addon" />
              </div>
            </div>
            <div class="add-profile">
              <i class="uil uil-shopping-cart"></i>
              <a th:href="@{/user/After_Home_Page}"
                ><i class="uil uil-user-circle"></i
              ></a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <section class="navigation">
      <div style="margin-left: 10px">
        <h2>Product Code</h2>
      </div>
      <div>
        <h2>Product</h2>
      </div>
      <div>
        <h2>Product Name</h2>
      </div>
      <div>
        <h2>Country</h2>
      </div>
      <div style="margin-left: 20px">
        <h2>Price</h2>
      </div>
      <div>
        <h2>Quantity order</h2>
      </div>
      <div>
        <h2>Quantity available</h2>
      </div>
      <div>
        <h2>Order</h2>
      </div>
    </section>

    <section>
      <section class="product-detial">
        <div style="margin-left: 80px">
          <h3>199</h3>
        </div>
        <div class="pro_img" style="margin-left: 45px">
          <img
            th:src="@{/image/Jordan.png}"
            style="height: 80px; width: 90px" />
        </div>
        <div style="margin-left: 25px">
          <h3>Nike</h3>
        </div>
        <div style="margin-left: 55px">
          <h3>American (USA)</h3>
        </div>
        <div style="margin-left: 10px">
          <h3>290$</h3>
        </div>
        <div style="margin-left: 40px">
          <h3>102</h3>
        </div>
        <div style="margin-left: 100px">
          <h3>323</h3>
        </div>
        <div style="margin-left: 130px">
          <a th:href="@{/user/login}" class="btn btn-warning">Buy Here</a>
        </div>
      </section>
      <section class="product-detial">
        <div style="margin-left: 80px">
          <h3>199</h3>
        </div>
        <div class="pro_img" style="margin-left: 45px">
          <img
            th:src="@{/image/Jordan.png}"
            style="height: 80px; width: 90px" />
        </div>
        <div style="margin-left: 25px">
          <h3>Nike</h3>
        </div>
        <div style="margin-left: 55px">
          <h3>American (USA)</h3>
        </div>
        <div style="margin-left: 10px">
          <h3>290$</h3>
        </div>
        <div style="margin-left: 40px">
          <h3>102</h3>
        </div>
        <div style="margin-left: 100px">
          <h3>323</h3>
        </div>
        <div style="margin-left: 130px">
          <a th:href="@{/user/login}" class="btn btn-warning">Buy Here</a>
        </div>
      </section>
      <section class="product-detial">
        <div style="margin-left: 80px">
          <h3>199</h3>
        </div>
        <div class="pro_img" style="margin-left: 45px">
          <img
            th:src="@{/image/Jordan.png}"
            style="height: 80px; width: 90px" />
        </div>
        <div style="margin-left: 25px">
          <h3>Nike</h3>
        </div>
        <div style="margin-left: 55px">
          <h3>American (USA)</h3>
        </div>
        <div style="margin-left: 10px">
          <h3>290$</h3>
        </div>
        <div style="margin-left: 40px">
          <h3>102</h3>
        </div>
        <div style="margin-left: 100px">
          <h3>323</h3>
        </div>
        <div style="margin-left: 130px">
          <a th:href="@{/user/login}" class="btn btn-warning">Buy Here</a>
        </div>
      </section>
      <section class="product-detial">
        <div style="margin-left: 80px">
          <h3>199</h3>
        </div>
        <div class="pro_img" style="margin-left: 45px">
          <img
            th:src="@{/image/Jordan.png}"
            style="height: 80px; width: 90px" />
        </div>
        <div style="margin-left: 25px">
          <h3>Nike</h3>
        </div>
        <div style="margin-left: 55px">
          <h3>American (USA)</h3>
        </div>
        <div style="margin-left: 10px">
          <h3>290$</h3>
        </div>
        <div style="margin-left: 40px">
          <h3>102</h3>
        </div>
        <div style="margin-left: 100px">
          <h3>323</h3>
        </div>
        <div style="margin-left: 130px">
          <a th:href="@{/user/login}" class="btn btn-warning">Buy Here</a>
        </div>
      </section>
      <section class="product-detial">
        <div style="margin-left: 80px">
          <h3>199</h3>
        </div>
        <div class="pro_img" style="margin-left: 45px">
          <img
            th:src="@{/image/Jordan.png}"
            style="height: 80px; width: 90px" />
        </div>
        <div style="margin-left: 25px">
          <h3>Nike</h3>
        </div>
        <div style="margin-left: 55px">
          <h3>American (USA)</h3>
        </div>
        <div style="margin-left: 10px">
          <h3>290$</h3>
        </div>
        <div style="margin-left: 40px">
          <h3>102</h3>
        </div>
        <div style="margin-left: 100px">
          <h3>323</h3>
        </div>
        <div style="margin-left: 130px">
          <a th:href="@{/user/login}" class="btn btn-warning">Buy Here</a>
        </div>
      </section>
      <section class="product-detial">
        <div style="margin-left: 80px">
          <h3>199</h3>
        </div>
        <div class="pro_img" style="margin-left: 45px">
          <img
            th:src="@{/image/Jordan.png}"
            style="height: 80px; width: 90px" />
        </div>
        <div style="margin-left: 25px">
          <h3>Nike</h3>
        </div>
        <div style="margin-left: 55px">
          <h3>American (USA)</h3>
        </div>
        <div style="margin-left: 10px">
          <h3>290$</h3>
        </div>
        <div style="margin-left: 40px">
          <h3>102</h3>
        </div>
        <div style="margin-left: 100px">
          <h3>323</h3>
        </div>
        <div style="margin-left: 130px">
          <a th:href="@{/user/login}" class="btn btn-warning">Buy Here</a>
        </div>
      </section>
      <section class="product-detial">
        <div style="margin-left: 80px">
          <h3>199</h3>
        </div>
        <div class="pro_img" style="margin-left: 45px">
          <img
            th:src="@{/image/Jordan.png}"
            style="height: 80px; width: 90px" />
        </div>
        <div style="margin-left: 25px">
          <h3>Nike</h3>
        </div>
        <div style="margin-left: 55px">
          <h3>American (USA)</h3>
        </div>
        <div style="margin-left: 10px">
          <h3>290$</h3>
        </div>
        <div style="margin-left: 40px">
          <h3>102</h3>
        </div>
        <div style="margin-left: 100px">
          <h3>323</h3>
        </div>
        <div style="margin-left: 130px">
          <a th:href="@{/user/login}" class="btn btn-warning">Buy Here</a>
        </div>
      </section>
      <section class="product-detial">
        <div style="margin-left: 80px">
          <h3>199</h3>
        </div>
        <div class="pro_img" style="margin-left: 45px">
          <img
            th:src="@{/image/Jordan.png}"
            style="height: 80px; width: 90px" />
        </div>
        <div style="margin-left: 25px">
          <h3>Nike</h3>
        </div>
        <div style="margin-left: 55px">
          <h3>American (USA)</h3>
        </div>
        <div style="margin-left: 10px">
          <h3>290$</h3>
        </div>
        <div style="margin-left: 40px">
          <h3>102</h3>
        </div>
        <div style="margin-left: 100px">
          <h3>323</h3>
        </div>
        <div style="margin-left: 130px">
          <a th:href="@{/user/login}" class="btn btn-warning">Buy Here</a>
        </div>
      </section>
      <section class="product-detial">
        <div style="margin-left: 80px">
          <h3>199</h3>
        </div>
        <div class="pro_img" style="margin-left: 45px">
          <img
            th:src="@{/image/Jordan.png}"
            style="height: 80px; width: 90px" />
        </div>
        <div style="margin-left: 25px">
          <h3>Nike</h3>
        </div>
        <div style="margin-left: 55px">
          <h3>American (USA)</h3>
        </div>
        <div style="margin-left: 10px">
          <h3>290$</h3>
        </div>
        <div style="margin-left: 40px">
          <h3>102</h3>
        </div>
        <div style="margin-left: 100px">
          <h3>323</h3>
        </div>
        <div style="margin-left: 130px">
          <a th:href="@{/user/login}" class="btn btn-warning">Buy Here</a>
        </div>
      </section>
      <section class="product-detial">
        <div style="margin-left: 80px">
          <h3>199</h3>
        </div>
        <div class="pro_img" style="margin-left: 45px">
          <img
            th:src="@{/image/Jordan.png}"
            style="height: 80px; width: 90px" />
        </div>
        <div style="margin-left: 25px">
          <h3>Nike</h3>
        </div>
        <div style="margin-left: 55px">
          <h3>American (USA)</h3>
        </div>
        <div style="margin-left: 10px">
          <h3>290$</h3>
        </div>
        <div style="margin-left: 40px">
          <h3>102</h3>
        </div>
        <div style="margin-left: 100px">
          <h3>323</h3>
        </div>
        <div style="margin-left: 130px">
          <a th:href="@{/user/login}" class="btn btn-warning">Buy Here</a>
        </div>
      </section>
      <section class="product-detial">
        <div style="margin-left: 80px">
          <h3>199</h3>
        </div>
        <div class="pro_img" style="margin-left: 45px">
          <img
            th:src="@{/image/Jordan.png}"
            style="height: 80px; width: 90px" />
        </div>
        <div style="margin-left: 25px">
          <h3>Nike</h3>
        </div>
        <div style="margin-left: 55px">
          <h3>American (USA)</h3>
        </div>
        <div style="margin-left: 10px">
          <h3>290$</h3>
        </div>
        <div style="margin-left: 40px">
          <h3>102</h3>
        </div>
        <div style="margin-left: 100px">
          <h3>323</h3>
        </div>
        <div style="margin-left: 130px">
          <a th:href="@{/user/login}" class="btn btn-warning">Buy Here</a>
        </div>
      </section>
      <section class="product-detial">
        <div style="margin-left: 80px">
          <h3>199</h3>
        </div>
        <div class="pro_img" style="margin-left: 45px">
          <img
            th:src="@{/image/Jordan.png}"
            style="height: 80px; width: 90px" />
        </div>
        <div style="margin-left: 25px">
          <h3>Nike</h3>
        </div>
        <div style="margin-left: 55px">
          <h3>American (USA)</h3>
        </div>
        <div style="margin-left: 10px">
          <h3>290$</h3>
        </div>
        <div style="margin-left: 40px">
          <h3>102</h3>
        </div>
        <div style="margin-left: 100px">
          <h3>323</h3>
        </div>
        <div style="margin-left: 130px">
          <a th:href="@{/user/login}" class="btn btn-warning">Buy Here</a>
        </div>
      </section>
      <section class="product-detial">
        <div style="margin-left: 80px">
          <h3>199</h3>
        </div>
        <div class="pro_img" style="margin-left: 45px">
          <img
            th:src="@{/image/Jordan.png}"
            style="height: 80px; width: 90px" />
        </div>
        <div style="margin-left: 25px">
          <h3>Nike</h3>
        </div>
        <div style="margin-left: 55px">
          <h3>American (USA)</h3>
        </div>
        <div style="margin-left: 10px">
          <h3>290$</h3>
        </div>
        <div style="margin-left: 40px">
          <h3>102</h3>
        </div>
        <div style="margin-left: 100px">
          <h3>323</h3>
        </div>
        <div style="margin-left: 130px">
          <a th:href="@{/user/login}" class="btn btn-warning">Buy Here</a>
        </div>
      </section>
      <section class="product-detial">
        <div style="margin-left: 80px">
          <h3>199</h3>
        </div>
        <div class="pro_img" style="margin-left: 45px">
          <img
            th:src="@{/image/Jordan.png}"
            style="height: 80px; width: 90px" />
        </div>
        <div style="margin-left: 25px">
          <h3>Nike</h3>
        </div>
        <div style="margin-left: 55px">
          <h3>American (USA)</h3>
        </div>
        <div style="margin-left: 10px">
          <h3>290$</h3>
        </div>
        <div style="margin-left: 40px">
          <h3>102</h3>
        </div>
        <div style="margin-left: 100px">
          <h3>323</h3>
        </div>
        <div style="margin-left: 130px">
          <a th:href="@{/user/login}" class="btn btn-warning">Buy Here</a>
        </div>
      </section>
      <section class="product-detial">
        <div style="margin-left: 80px">
          <h3>199</h3>
        </div>
        <div class="pro_img" style="margin-left: 45px">
          <img
            th:src="@{/image/Jordan.png}"
            style="height: 80px; width: 90px" />
        </div>
        <div style="margin-left: 25px">
          <h3>Nike</h3>
        </div>
        <div style="margin-left: 55px">
          <h3>American (USA)</h3>
        </div>
        <div style="margin-left: 10px">
          <h3>290$</h3>
        </div>
        <div style="margin-left: 40px">
          <h3>102</h3>
        </div>
        <div style="margin-left: 100px">
          <h3>323</h3>
        </div>
        <div style="margin-left: 130px">
          <a th:href="@{/user/login}" class="btn btn-warning">Buy Here</a>
        </div>
      </section>
    </section>
  </body>
</html>
